* {
    box-sizing: border-box;
  }
  body {
      margin: 0;
  }
  #oNama {
    width: 500px;
    height: 200px;
    }
    @media only screen and (max-width: 600px) {
        #oNama {
            width: 304px;
            height: 118px;
            }  
    }
    .w3-circle {
      height: 14px;
      width: auto;
    }  
    
    .footer {
    background-color: #333333;
    color: #ffffff;
    }
    .w3-third img {
    width: 250px;
    height: 323px;
    
    }  
    .facebook {
        width: 32px;
        height: 32px;
          } 